@include media-md {

    .portfolio {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        .text-title {
            font-size: 3rem;
        }
    }
    .contact__list {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}


@include media-lg {
}


@include media-xl {
}