* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 90%;
  padding-top: 25vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("images/self-image.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("images/self-image.jpg") center top;
  background-size: cover;
}
.home__name {
  font-size: 5rem;
  color: #90C0D1;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px dashed #90C0D1;
}
.home__sub {
  color: #cb8190;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.9;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.menu-nav__item {
  float: left;
}
.menu-nav__link {
  display: block;
  color: #cb8190;
  padding: 14px 16px;
  text-decoration: none;
}

.portfolio__main-image {
  height: 30vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("images/self-image.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("images/self-image.jpg") center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.portfolio__main-image .text-title {
  font-size: 2rem;
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}
.portfolio__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.portfolio__item {
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.portfolio__item img {
  width: 100%;
  padding-bottom: 1.5rem;
}
.portfolio__item h3 {
  color: #90C0D1;
}
.portfolio__item1 {
  width: 60vw;
}

.about__main-image {
  height: 30vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("images/self-image.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("images/self-image.jpg") center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.about__main-image .text-title {
  font-size: 2rem;
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}
.about__items {
  width: 60vw;
  margin: 4rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.contact__main-image {
  height: 50vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("images/self-image.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("images/self-image.jpg") center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contact__main-image .text-title {
  font-size: 2rem;
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}
.contact__list {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #90C0D1;
  width: 60vw;
  margin: 10rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.skills {
  padding: 2rem;
}
.skills__main-image {
  height: 30vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("images/self-image.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("images/self-image.jpg") center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.skills__main-image .text-title {
  font-size: 2rem;
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}
.skills__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.skills__item {
  padding: 1rem;
  position: relative;
  border-left: 5px solid #90C0D1;
  overflow: hidden;
  list-style-type: none;
}
.skills__title {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  color: #90C0D1;
}
.skills__skill {
  font-size: 1rem;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .portfolio__items {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .text-title {
    font-size: 3rem;
  }

  .skills__items {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
body {
  background: #272727;
  color: #FAF9F6;
  height: 60vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 h4 {
  font-weight: 400;
}

a {
  color: #90C0D1;
  text-decoration: none;
}

.text-title {
  color: #90C0D1;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
main .social-icons a:hover {
  color: #272727;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #272727;
}
/*# sourceMappingURL=main.css.map */